### Import Library

In [152]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler

### Import dataset

In [153]:
df = pd.read_csv('Hotel Reservations.csv')


### Melihat bentuk dari dataset

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Booking_ID                            36275 non-null  object
 1   no_of_adults                          36275 non-null  int64
 2   no_of_children                        36275 non-null  int64
 3   no_of_weekend_nights                  36275 non-null  int64
 4   no_of_week_nights                     36275 non-null  int64
 5   type_of_meal_plan                     36275 non-null  object
 6   required_car_parking_space            36275 non-null  int64
 7   room_type_reserved                    36275 non-null  object
 8   lead_time                             36275 non-null  int64
 9   arrival_year                          36275 non-null  int64
 10  arrival_month                         36275 non-null  int64
 11  arrival_date                          36275 non-null  int64
 12  market_segment_type                   36275 non-null  object
 13  repeated_guest                        36275 non-null  int64
 14  no_of_previous_cancellations          36275 non-null  int64
 15  no_of_previous_bookings_not_canceled  36275 non-null  int64
 16  avg_price_per_room                    36275 non-null  float64
 17  no_of_special_requests                36275 non-null  int64
 18  booking_status                        36275 non-null  object
dtypes: float64(1), int64(13), object(5)
memory usage: 5.3+ MB

### Melakukan pembagian data menjadi data training dan data testing

In [155]:
x = df.drop('booking_status', axis=1)
y = df['booking_status']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

### Melakukan normalisasi data

In [156]:
df2 = df.copy()

scaler = MinMaxScaler()
scaledData = scaler.fit_transform(df2[['lead_time']])
df2['lead_time'] = scaledData

print("Kolom lead_time sebelum dinormalisasi: ")
print(df['lead_time'].describe())
print('\n')
print("Kolom lead_time setelah dinormalisasi: ")
print(df2['lead_time'].describe())

Kolom lead_time sebelum dinormalisasi:
count    36275.000000
mean        85.232557
std         85.930817
min          0.000000
25%         17.000000
50%         57.000000
75%        126.000000
max        443.000000
Name: lead_time, dtype: float64


Kolom lead_time setelah dinormalisasi:
count    36275.000000
mean         0.192399
std          0.193975
min          0.000000
25%          0.038375
50%          0.128668
75%          0.284424
max          1.000000
Name: lead_time, dtype: float64

### Melakukan standarisasi data

In [157]:
df3 = df.copy()

scaler = StandardScaler()
scaledData = scaler.fit_transform(df3[['lead_time']])
df3['lead_time'] = scaledData

print("Deviasi standar pada kolom lead_time sebelum di standardisasi: ")
print(np.std(df['lead_time']))
print('\n')
print("Deviasi standar pada kolom lead_time setelah di standardisasi: ")
print(np.std(df3['lead_time']))

Deviasi standar pada kolom lead_time sebelum di standardisasi:
85.92963225527771


Deviasi standar pada kolom lead_time setelah di standardisasi:
1.0

### Membuat nilai null pada dataset

In [158]:
df4 = df.copy()

# Nilai null pada data bertipe int64
df4.loc[36000:, 'no_of_children'] = np.nan 

# Nilai null pada data bertipe float64
df4.loc[36000:, 'avg_price_per_room'] = np.nan

# Nilai null pada data bertipe object
df4.loc[36000:, 'type_of_meal_plan'] = np.nan

print(f"Jumlah nilai null pada attribute no_of_children: {df4['no_of_children'].isna().sum()}")
print(f"Jumlah nilai null pada attribute avg_price_per_room: {df4['avg_price_per_room'].isna().sum()}")
print(f"Jumlah nilai null pada attribute type_of_meal_plan: {df4['type_of_meal_plan'].isna().sum()}")

Jumlah nilai null pada attribute no_of_children: 275
Jumlah nilai null pada attribute avg_price_per_room: 275
Jumlah nilai null pada attribute type_of_meal_plan: 275

### Mengatasi nilai null menggunakan ketentuan, bilangan bulat: median/modus, bilangan desimal: mean, tulisan: modus

In [159]:
df4['no_of_children'].fillna(df4['no_of_children'].median(), inplace=True) # Tipe data int64 menggunakan strategy median
df4['avg_price_per_room'].fillna(df4['avg_price_per_room'].mean(), inplace=True) # Tipe data float64 menggunakan strategy mean
df4['type_of_meal_plan'].fillna(df4['type_of_meal_plan'].mode()[0], inplace=True) # Tipe data object menggunakan strategy mode

# Mengecek nilai null pada semua kolom
df4.isna().sum()

Booking_ID                              0
no_of_adults                            0
no_of_children                          0
no_of_weekend_nights                    0
no_of_week_nights                       0
type_of_meal_plan                       0
required_car_parking_space              0
room_type_reserved                      0
lead_time                               0
arrival_year                            0
arrival_month                           0
arrival_date                            0
market_segment_type                     0
repeated_guest                          0
no_of_previous_cancellations            0
no_of_previous_bookings_not_canceled    0
avg_price_per_room                      0
no_of_special_requests                  0
booking_status                          0
dtype: int64

### Membuat nilai duplikat pada dataset dan mengatasinya

In [160]:
df4.iloc[36273, :] = df4.iloc[36274, :]
df4.duplicated().sum()

1

In [161]:
df4.drop_duplicates(inplace=True)
df4.duplicated().sum()

0

### Mengganti tipe data pada salah satu attribute angka

In [162]:
print(f"Tipe data attribute 'required_car_parking_space' sebelum diubah adalah {df4['required_car_parking_space'].dtypes}")

Tipe data attribute 'required_car_parking_space' sebelum diubah adalah int64

In [163]:

df4['required_car_parking_space'] = df4['required_car_parking_space'].astype('float64')
print(f"Tipe data attribute 'required_car_parking_space' setelah diubah adalah {df4['required_car_parking_space'].dtypes}")

Tipe data attribute 'required_car_parking_space' setelah diubah adalah float64

### One-hot encoding pada attribute yang memiliki nilai lebih dari 2

In [164]:
enc = pd.get_dummies(df[['market_segment_type']])
df5 = df.join(enc.astype('int64'))

df5.drop('market_segment_type', axis=1, inplace=True)

In [165]:
df5.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,...,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status,market_segment_type_Aviation,market_segment_type_Complementary,market_segment_type_Corporate,market_segment_type_Offline,market_segment_type_Online
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,...,0,0,65.00,0,Not_Canceled,0,0,0,1,0
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,...,0,0,106.68,1,Not_Canceled,0,0,0,0,1
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,...,0,0,60.00,0,Canceled,0,0,0,0,1
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,...,0,0,100.00,0,Canceled,0,0,0,0,1
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,...,0,0,94.50,0,Canceled,0,0,0,0,1